<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="blogs-content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ratione dolor expedita sit ullam architecto, magnam, a dolore impedit laudantium eveniet vero, quae nisi aut praesentium placeat consequuntur iusto quaerat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ratione dolor expedita sit ullam architecto, magnam, a dolore impedit laudantium eveniet vero, quae nisi aut praesentium placeat consequuntur iusto quaerat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ratione dolor expedita sit ullam architecto, magnam, a dolore impedit laudantium eveniet vero, quae nisi aut praesentium placeat consequuntur iusto quaerat.</p>
    </div>
    <%- include('./partials/footer.ejs')%>

</body>
</html>